:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --top-color: #FFFFFF;
    --secondary-color: #757575;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--top-color);
    background-color: var(--top-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}
/*======================Header*/
.logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.logo-up {
    color: #000000;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.menu-link-contact:hover,
.menu-link-contact:focus {
    color: var(--accent-color);
}
.nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.menu-link-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
/*======================Header===============================*/
/*======================Main*/
.main-studio {
    background-color: #2F303A;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--top-color);
}
.main-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--top-color);
    cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
    background-color: var(--accent-color);
}
/*======================Main===============================*/
/*======================Особенности*/
.benefits-title{
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
}
.benefits-text {
    line-height: 1.71;
    color: var(--secondary-color);
}
/*======================Особенности=========================*/
/*======================Чем мы занимаемся*/
.joint-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-color);
}
/*==================Чем мы занимаемся======================*/
/*======================Наша команда*/
.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--main-color);
}
.employees-post {
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    color: var(--secondary-color);
}
/*===================Наша команда======================*/
/*=======================================Footer*/
.logo-footer {
    color: var(--top-color);
}
.footer {
    background-color: #2F303A;
}
.footer-list {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer-address {
    color: var(--top-color);
}
.footer-list:hover,
.footer-list:focus {
    color: var(--accent-color);
}
/*=======================================Footer===============*/
/*======================Меню*/
.btn-list {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--main-color);
    background-color: #F5F4FA;
    cursor: pointer;
}
.btn-list:hover,
.btn-list:focus {
    background-color: var(--accent-color);
    color: var(--top-color);
}
/*======================Меню===============================*/
/*======================Проекты*/
.projects-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}
.projects-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);
}
/*==================Проекты===============================*/
.current {
    color: var(--accent-color);
    background-color: var(--top-color);
}
